<section>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6>
                    Licence:
                </h6>
            </div>
            <div class="panel-body">
                <article>
            Copyright © 2015, Radek Mečiar. All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:
                <ul>
                    <li>Redistributions of source code must retain the above copyright
          notice, this list of conditions and the following disclaimer.
                    </li>
                    <li>Redistributions in binary form must reproduce the above copyright
          notice, this list of conditions and the following disclaimer in the
          documentation and/or other materials provided with the distribution.
                    </li>
                    <li>Neither the name of the owner nor the
          names of its contributors may be used to endorse or promote products
          derived from this software without specific prior written permission.
                    </li>
                </ul>
                
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL Radek Mečiar BE LIABLE FOR ANY
    DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                </article>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6>
                    About:
                </h6>
            </div>
            <div class="panel-body">
                <span class="">
                    Semestral work.
                    It shoud be like this:<br />
                    <a href="http://www.t-lexicon.kvalitne.cz">T-Lexicon</a><br />
                    ... but platform independent.<br />
                    <a href="https://github.com/Ramese/w-lexicon">https://github.com/Ramese/w-lexicon</a>
                </span>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6>
                    Author:
                </h6>
            </div>
            <div class="panel-body">
                <div itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">Radek Mečiar</span><br />
                  <span itemprop="jobTitle">Student</span><br />

                  Mobile: 
                    <span itemprop="telephone">Nokia</span><br />
                  E-mail: 
                    <a href="mailto:lexicon@w-lexicon.kvalitne.cz" itemprop="email">lexicon@w-lexicon.kvalitne.cz</a><br />
                  Web: 
                    <a href="http://www.w-lexicon.kvalitne.cz" itemprop="url">w-lexicon.kvalitne.cz</a><br />
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6>Used sources:</h6>
            </div>
            <div class="panel-body">
                <a href="https://angularjs.org/">AngularJS</a><br />
                <a href="http://getbootstrap.com/">Bootstrap</a><br />
                <a href="https://github.com/danialfarid/ng-file-upload">Drop down component</a>

            </div>
        </div>
    </div>
</section>

